<h1>Add a pokemon</h1>

<form action='/add/success' method='post'>
  <input type='text' name='name' placeholder="name">
  <input type='text' name='poke_type' placeholder="type">
  <input type='text' name='cp' placeholder="cp">
  <input type='text' name='img_url' placeholder="img_url">
  <input type='submit' name='Submit'>
</form>
