<h1>Welcome to Pokenatra</h1>

<h1>What would you like to do.</h1>
<h3><a href='/see_all'>See all the pokemon</a></h3>
<h3><a href='/add'>Add a pokemon</a></h3>
<h3><a href='/delete'>Delete a pokemon</a></h3>
<h3><a href='/update'>Update a pokemon</a></h3>
